/* per assegnare una classe dinamicamente quando esce un numero */
.colorato {
  color: red;
}

.t-center {
  text-align: center;
}

.btn {
  width: 10%;
  margin-top: 20px;
  padding: 5px;
  background-color: #d8cccc;
  border: none;
}

.center {
  text-align: center;
}
